@charset "utf-8";
/* CSS Document */

/*****共通部分
***********************************************/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;

  background: url(../images/105.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;

  background-size: cover;
  background-color: #000000;
}
